.Cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.CartTitle{
    margin-top: 8rem ;
}

.CartItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    
    
}

.ImgItem{
    width: 300px;
    height: 300px;
}

p{
    margin: 1rem;
    height: auto;
}

.CartInfo{
    width: 300px;
}

.RemoveItemButton{
    background-color: transparent;
    border: none;
}

.ClearCartButton{
    padding: 1rem;
	background-color:black;
	border-radius:5px;
	border-style: 1px white solid;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    color: rgb(255, 255, 255);
    transition: 1s;
    
}

.ClearCartButton:hover{
    transform: scale(20px);
    color: black;
    background-color: white;
}

.BtnQuantity{

    padding: 0.3rem;
    margin: 0.3rem;
    background-color: #7892c2;
    color: white;
    border-radius: 5px;
    border-style: 1px white solid;

}

.FormBuy{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: start;
    align-items: center;
}

.InputForm{
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin: 2rem;
}

.CartButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.InputForm label {
    width: 150px; 
    margin-bottom: 5px; 
  }

.OrderBtn{
    margin: 1rem;
    padding: 1rem;
	background-color:black;
	border-radius:5px;
	border-style: 1px white solid;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    color: rgb(255, 255, 255);
    transition: 1s;

} 

.OrderBtn:hover{
    transform: scale(20px);
    color: black;
    background-color: white;
}