.TittleMac{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://media.es.wired.com/photos/643f0484f381a95708848323/4:3/w_2136,h_1602,c_limit/macbook_sec_GettyImages-1368668740.jpg);

}