.DescriptionCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}


.DescriptionCard .TittleProduct{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}

.DescriptionCard .InfoProduct{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    height: 50px;
}