.ProductCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: auto;
    margin: 2rem;
    background-color: rgb(27, 32, 58);
    border-radius: 20px;
    box-shadow: 0px 8px 9px 0px #00000080;
    color: white;
    transition: 1s;    

}

.ProductCard .BtnAddCart{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition: 0.5s;
    font-weight: 500;
    background-color:white;
    color: black;
    transition: 0.5s;
    border: solid black 1px;
    
}

.ProductCard:hover{
    transform: scale(1.05);
}

.BtnAddCart:hover{

    background-color: black;
    color: white;
    border: solid white 1px;
}
