.NavBar{
    width: 100%;
    height: auto;

}

.CartBuy{
    width: 20px;
    height: auto;
}

.ListContainer a{
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    transition: 1s;

}
.navbar-nav{
    text-decoration: none;
}

a:hover{
    color: blue;
}

