.NavBar{
    width: 100%;
    height: auto;

}

.CartBuy{
    width: 30px;
    height: 30px;
}

.ListContainer a{
    padding: 0.2rem;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;

}
.navbar-nav{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover{
    color: #283966;
    transform: scale(1.05);
    font-weight: 600;
}

.container-fluid a{
    text-decoration: none;
    
}

.container-fluid h2{
    font-size: 1.7rem;
    transition: 0.3s;
}

.CartNumber{
    padding: 0.5px 9px 0.5px 9px;
    border-radius: 100%;
    background-color: rgb(204, 0, 0);
    color: white;
}

.container-fluid .navbar-brand{
    transition: 0.3s;
}