.NavBar{
    width: 100%;
    height: auto;

}

.CartBuy{
    width: 20px;
    height: auto;
}

.ListContainer{
    padding: 0.5rem;
    text-decoration: none;

}
.navbar-nav{
    text-decoration: none;
}